* { margin:0; padding:0; box-sizing:border-box; }

html {
    background-color: #000000;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  

  
  .container {
    width: 940px;
    
    
    height: 1450px;
    background-color: rgb(22, 124, 155); 
    background-image: linear-gradient(rgb(0, 26, 255), rgb(255, 0, 242), rgb(128, 0, 38));
    
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }	header {
    padding-top: 20px;
    color: #ffffff;
  }
  
  header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
  }
  
  header p {
    margin: 0;
  }
  
  /* Site Navigation */
  .site-nav {
    margin-top: 20px;
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
  }
  
      .site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
  }
  
  .site-nav a {
    position: relative;
    width: 425px;
   
    border: 3px solid red;
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #000000;
    border-bottom: none;
  }
  
  .site-nav a:hover {
    background-color: #e5e9dc;
  }
  
  /* End Site Navigation */
  
  .content-area {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
  }
  
  .main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  
  
  footer {
    text-align: center;
    font-size: 85%;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .fix {
    clear: both;
  }
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .group:after {
    clear: both;
  }
  
  .group {
    zoom: 1;
  }
  
  
  
          
          .second-txt {
              position: absolute;
              bottom: 20px;
              left: 10px;
          }
          img {
            border-radius: 8px;
          }
          
         
          
          * {box-sizing: border-box}
          body {font-family: Verdana, sans-serif; margin:0}
          .mySlides {display: none}
          img {vertical-align: middle;}
          
          /* Slideshow container */
          .slideshow-container {
            max-width: 1000px;
            position:relative;
            margin: auto;
          }
          
         
          
          /* Caption text */
          .text {
            
            
            
            font-family:initial;
            color: #f2f2f2;
            font-size: 40px;
            padding: 45px 120px;
            position: absolute;
            bottom: 8px;
            width: 120%;
            
          }

         
          
          
          /* Number text (1/3 etc) */
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          
          /* The dots/bullets/indicators */
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 60px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          
          .active, .dot:hover {
            background-color: #717171;
          }
          
          /* Fading animation */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
          }

          .dropdown {
            float: left;
            overflow: hidden;
          }

          .dropdown .dropbtn {
            font-size: 16px;  
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
          }

          .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
          
          @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
          
          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
